<footer class='c-footer'>
  <div class='o-grid'>

    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l'>
      <p class='u-font-medium'>Links</p>

      <ul class='c-footer-list o-plain-list'>
          <li><a href='https://facebook.com/riebeckstrasse63'>fb.com/riebeckstrasse63</a><li>
          <li><a href='https://zwangsarbeit-in-leipzig.de'>zwangsarbeit-in-leipzig.de</a><li>
      </ul>
    </div>

    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l'>
      <p class='u-font-medium'>Navigation</p>

      <ul class='c-footer-list o-plain-list'>
        {% include navigation.html %}
      </ul>
    </div>

    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l'>
      <p class='u-font-medium'>Newsletter</p>

      {% include subscribe-form.html %}
    </div>

    <div class='o-grid__col o-grid__col--full'>
      <div class='c-footer__bottom'>
        <div class='o-grid'>

          <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m'>
            <div class='u-font-tiny c-footer__copyright'>
              <a href="/impressum">Impressum</a> | <a href="/datenschutz">Datenschutz</a>
            </div>
          </div>

          <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m'>
          </div>

        </div>
      </div>
    </div>

  </div>
</footer>
