<footer class='c-footer'>
  <div class='o-grid'>

    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l'>
      <p class='u-font-medium'>Links</p>

      <ul class='c-footer-list o-plain-list'>
          <li><a href='https://facebook.com/riebeckstrasse63'>Riebeckstrasse 63 auf Facebook</a><li>
          <li><a href='https://zwangsarbeit-in-leipzig.de'>Gedenkstätte für Zwangsarbeit Leipzig</a><li>
          <li><a href='https://www.romano-sumnal.com'>Verein für Roma in Sachsen</a><li>
          <li><a href='http://psychiatriemuseum.de'>Das Sächsische Psychiatriemuseum</a><li>
          <li><a href='https://www.seb-leipzig.de'>Städtischer Eigenbetrieb Behindertenhilfe (SEB)</a><li>
          <li><a href='http://www.herberge.org'>Pandechaion – Herberge e.V.</a><li>
      </ul>
    </div>

    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l'>
      <p class='u-font-medium'>Navigation</p>

      <ul class='c-footer-list o-plain-list'>
        <li class='c-nav__item'><a href='/' class='c-nav__link'>Der Ort</a></li>
        <li class='c-nav__item'><a href='/ueber-uns.html' class='c-nav__link'>Über uns</a></li>
        <li class='c-nav__item'><a href='/aktuelles.html' class='c-nav__link'>Aktuelles</a></li>
        <li class='c-nav__item'><a href='/dokumentation.html' class='c-nav__link'>Dokumentation</a></li>
        <li class='c-nav__item'><a href='/kontakt.html' class='c-nav__link'>Mitmachen</a></li>
      </ul>
    </div>

    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l'>
      <p class='u-font-medium'>Kontakt</p>
      <a href='/kontakt.html' class='c-btn c-btn--active'>Schreiben Sie uns</a>
    </div>

    <div class='o-grid__col o-grid__col--full'>
      <div class='c-footer__bottom'>
        <div class='o-grid'>

          <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m'>
            <div class='u-font-tiny c-footer__copyright'>
              <a href="/impressum">Impressum</a> | <a href="/datenschutz">Datenschutz</a>
            </div>
          </div>

          <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m'>
          </div>

        </div>
      </div>
    </div>

  </div>
</footer>
