/*------------------------------------*\
  Elements > img
\*------------------------------------*/

img {
  display: block;
  max-width: 100%;
  font-style: italic;
}

.c-content img {
  display: block;
  max-width: 50%;
  font-style: italic;
  float: right;
  margin: 15px 0 15px 15px;
}
