---
layout: default
---

<div class='o-wrapper'>
  <div class='o-grid'>
  
  <div class='o-grid__col--1-3-l'>
    <h3>Aktuelles</h3>
    {% for post in site.categories.dokumentation %}
    <div class='o-grid__col'>
      <div class='c-post'>

        <div class='c-content dokumentation'>
          <div class='c-post-card__media dokumentation_media'>
            <a href='{{ post.url | prepend: site.baseurl }}' class='c-post-card__image js-fadein' style='background-image: url({{ post.image | prepend: site.baseurl }})'>
            </a>
           </div>
           <a href='{{ post.url | prepend: site.baseurl }}'>
            <h3>{{ post.title }}</h3>
            <div class='c-post-card__meta'>
              <time class='c-post-card__date' datetime='{{ post.date | date_to_xmlschema }}' title='{{ post.date | date: '%d. %b %Y' }}'>{{ post.date | date: '%d %b %Y' }}</time>
            </div>
            <br>
            <small>{{ post.excerpt }}</small>
           </a>
        </div>
        
      </div>
    </div>
    {% endfor %}    
  </div>
  
  <div class='o-grid__col--1-3-l'>
    <h3>Veranstaltungen</h3>
    {% for post in site.categories.aktuelles %}
    <div class='o-grid__col'>
      <div class='c-post'>

        <div class='c-content dokumentation'>
          <div class='c-post-card__media dokumentation_media'>
            <a href='{{ post.url | prepend: site.baseurl }}' class='c-post-card__image js-fadein' style='background-image: url({{ post.image | prepend: site.baseurl }})'>
            </a>
           </div>
           <a href='{{ post.url | prepend: site.baseurl }}'>
            <h3>{{ post.title }}</h3>
            <div class='c-post-card__meta'>
              <time class='c-post-card__date' datetime='{{ post.date | date_to_xmlschema }}' title='{{ post.date | date: '%d. %b %Y' }}'>{{ post.date | date: '%d %b %Y' }}</time>
            </div>
            <br>
            <small>{{ post.excerpt }}</small>
           </a>
        </div>
        
      </div>
    </div>
    {% endfor %}    
  </div>
  
 </div>
</div>
