---
layout: default
---

<div class='o-wrapper'>
  <div class='o-grid'>
    {% for post in site.categories.dokumentation %}
    <div class='o-grid__col o-grid__col--2-3-m'>
      <div class='c-post'>

        <div class='c-content'>
          <div class='c-post-card__media'>
      <a href='{{ post.url | prepend: site.baseurl }}' class='c-post-card__image js-fadein' style='background-image: url({{ post.image | prepend: site.baseurl }})'>
      </a>
    </div>
           <a href='{{ post.url | prepend: site.baseurl }}'>
            <h3>{{ post.title }}</h3>
            <small>{{ post.excerpt }}</small>
           </a>
        </div>
        
      </div>
    </div>
    {% endfor %}
    
  </div>
</div>
